<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script>
        function getQueryParams() {
            const params = {}
            const queryString = window.location.search.substring(1)
            const queries = queryString.split("&")

            queries.forEach(query => {
                const [key, value] = query.split("=");
                params[key] = decodeURIComponent(value)
            });

            return params
        }

        // Populate the hidden userId input with the userId from query parameters
        document.addEventListener('DOMContentLoaded', () => {
            const params = getQueryParams()
            document.getElementById('userId').value = params.userId || ''
        })
    </script>
</head>
<body>
    <div id="reset_div">
        <form id="reset_password_form" onsubmit="handle_reset_password(event)">
            <input type="hidden" id="userId" name="userId">

            <label for="new_password">New Password:</label>
            <input id="new_password" name="new_password" type="password" required>
            
            <label for="confirm_password">Confirm Password:</label>
            <input id="confirm_password" name="confirm_password" type="password" required>
            
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
<script src="index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>